<link rel="stylesheet" href="style.css">
<body class="hi">
<head>
About me
</head>
<p> My Name is Bryan Aguilar but most of you know me as benji<br>
the reason i choose to be called like that no matter where<br>
go there is always a minimum of two people with the same name<br>
 However there is two main reasons one because its the name of my <br>
 deceased rottweiler my first dog i ever had and because it <br>
 rhymes with the name Benjamin.  My mom choose the second name<br>
 benjamin for me since it comes from the bible</p>
 </body>